@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply w-full h-[90px] bg-white flex justify-between items-center flex-wrap shadow-md fixed top-0 z-[110];
    }

    .header_logo {
        @apply w-full max-w-screen-xl flex flex-wrap items-center justify-between px-4;
    }

    .menu_btn {
        @apply inline-flex items-center p-2 ml-3 rounded-lg cursor-pointer;
    }
}